body{
    background-color: #f4efe9;
    overflow: hidden;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
    font-weight: bold;
    text-decoration: none;
}

.b{
    background-color: white;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    z-index: 1;
}

.logo a{
    color: #39553e;
    border-radius: 4vmin;
    font-size: 3.5vmin;
    line-height: 11vh; 
    margin-left: 2%;

    padding-right: 2vw;
    padding-left: 2vw;
    padding-top: 2vh;
    padding-bottom: 0.8vh;

    font-weight: bold;
}

.icon{
    width: 6vh;
    margin-top: 0.5%;
}
nav{
    height: 80px;
    width: 100%;
}

nav ul{
    float: right;
    margin-right: 80px;
}
nav ul li{
    display: inline-block;
    line-height: 85px;
    margin: 0 5px;
}
nav ul li a{
    color: #39553e;
    font-weight: bold;
    font-size: 2.5vmin;
    text-decoration: none;
    padding: 5px 12px;
    border-radius: 4vmin;
}

nav ul li a:hover{
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
}

/* .Mainbox a:hover{
    background-color: #39553e;
    transition: 0.5s;
} */

.logo a:hover{
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
}

#home-button{
    font-size: large;
    border: none;
    background-color: #e8d5c4;
    color: #39553e;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%);
}

.design{
    position: absolute;
    width: 100vmin;
    height: 200vmin;
    top: 5%;
    left: 65%;
    border-radius: 50vmin;
    transform: translate(-50%,-50%);
    transform: rotate(30deg);
    background-color: #39553e;
}

.Mainbox{
    width: 45%;
    height: 25%;
    position: absolute;
    top: 80%;
    left: 30%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    /* background-color: #39553e; */
}

/* boxes */

.category{
    position: absolute;
    top: 85%;
    left: 18%;
    transform: translate(-50%,-50%);
    color: white;
    text-decoration: none;
}

.border1{
    width: 32%;
    height: 120%;
    position: absolute;
    top: 0%;
    left: 15%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: #39553e;
    border-radius: 5vmin;
}
.text1{
    position: absolute;
    top: 73%;
    left: 3%;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 4vh;
    background-color: #39553e;
    width: 22vmin;
    height: 6vmin;
    box-shadow: 2px -2px 10px rgba(0, 0, 0, 0.3);
}
.text1 a{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 4vh;
    width: 22vmin;
    height: 6vmin;

}
.text1:hover{
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}
.container1{
    position: absolute;
    width: 53%;
    top:8%;
    left: 23%;
    display: flex;
    animation: slide 15s infinite;
}

.Mainbox img{
    width: 150%;
    height: 100%;
    transform: translate(-15%,0%);
}

@keyframes slide{
    0%{
        transform: translate(0);
    }
    10%{
        transform: translate(0);
    }
    20%{
        transform: translate(-150%);
    }
    30%{
        transform: translate(-150%);
    }
    40%{
        transform: translate(-300%);
    }
    50%{
        transform: translate(-300%);
    }
    60%{
        transform: translate(-450%);
    }
    70%{
        transform: translate(-450%);
    }
    80%{
        transform: translate(-600%);
    }
    90%{
        transform: translate(-600%);
    }
    100%{
        transform: translate(-600%);
    }
}

/*Box 2 */
.border2{
    width: 32%;
    height: 120%;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: #39553e;
    border-radius: 4vmin;
}
.text2{
    position: absolute;
    top: 73%;
    left: 38%;
    border-radius: 4vh;
    background-color: #39553e;
    width: 22vmin;
    height: 6vmin;
    box-shadow: 2px -2px 10px rgba(0, 0, 0, 0.3);
}
.text2 a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 4vh;
    /* width: 22vmin;
    height: 6vmin; */
}
.text2:hover{
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
    background-color: #39553e;
}
.container2{
    position: absolute;
    width: 60%;
    top: 5%;
    left: 20%;
    display: flex;
    animation: slide 15s infinite;
}


@keyframes example1-slide{
    0%{
        transform: translate(0);
    }
    25%{
        transform: translate(0);
    }
    30%{
        transform: translate(-100%);
    }
    45%{
        transform: translate(-100%);
    }
    55%{
        transform: translate(-200%);
    }
    75%{
        transform: translate(-200%);
    }
    80%{
        transform: translate(-300%);
    }
    100%{
        transform: translate(-300%);
    }
}

/*Box 3 */
.border3{
    width: 32%;
    height: 120%;
    position: absolute;
    top: 5%;
    left: 85%;
    transform: translate(-60%, -55%);
    overflow: hidden;
    background-color: #39553e;
    border-radius: 5vmin;
    margin-left: 20px;
}
.text3{
    position: absolute;
    top: 73%;
    left: 73%;
    color: white;
    border-radius: 4vmin;
    background-color: #39553e;
    width: 22vmin;
    height: 6vmin;
    box-shadow: 2px -2px 10px rgba(0, 0, 0, 0.3);
}
.text3 a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 4vmin;
}
.text3:hover{
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}
.container3{
    position: absolute;
    width: 70%;
    top: -5%;
    left: 13%;
    display: flex;
    animation: slide 15s infinite;
}

@keyframes slide{
    0%{
        transform: translate(0);
    }
    10%{
        transform: translate(0);
    }
    20%{
        transform: translate(-150%);
    }
    30%{
        transform: translate(-150%);
    }
    40%{
        transform: translate(-300%);
    }
    50%{
        transform: translate(-300%);
    }
    60%{
        transform: translate(-450%);
    }
    70%{
        transform: translate(-450%);
    }
    80%{
        transform: translate(-600%);
    }
    90%{
        transform: translate(-600%);
    }
    100%{
        transform: translate(-600%);
    }
}

#designImg{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 77%;
}

.design h1{
    position: absolute;
    color: white;
    top: 40%;
    left: 35%;
    transform: rotate(-30deg);
}

.p1{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 23%;
    left: 24%;
    font-size: 5vmin;
    color: #39553e;
}
.p2{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 35%;
    left: 19.8%;
    font-size: 2.8vmin;
    color: #39553e;
}
.p3{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 40%;
    left: 26%;
    font-size: 2.8vmin;
    color: #39553e;
}